        ###############    ##############    Pandas Tutorial    #############    ##############

In [ ]:
         ##############    ############   Contents  ###############    #################
    
    *  Pandas Introduction & Advantages
    *  Why Pandas is so popular in data science?
    *  Pandas DataFrame & Series

In [ ]:
      ###############    ##############   Pandas Introduction & Advantages    ###############    ############## 

 =>  Pandas is an open-source library used for Data analysis and manipulation and it offers various operations 
       and data structures to perform numerical data manipulations and time series.
    
 =>  It is created on top of 'Numpy' library.
    
 =>  Pandas was initially developed by Wes McKinney in 2008 while he was working at AQR Capital Management.

 =>  Advantages of pandas -

     * Fast and efficient for manipulating and analyzing data.

     * Data from different file objects can be loaded.

     * Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data

     * Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects

     * Data set merging and joining.

     * Flexible reshaping and pivoting of data sets

     * Provides time-series functionality.

     * Powerful group by functionality for performing split-apply-combine operations on data sets.
        
 =>  Pandas comes inbuilt with Anaconda distribution or can be installed with the help of pip.
        
        $ pip install pandas
        
 =>  Importing pandas with an alias ->    >>>  import pandas as pd

 =>  There are 2 types of Data structures in pandas.
    
           *  Dataframe        * series

In [4]:
#  Installing Numpy and Pandas with alias

import numpy as np
import pandas as pd

In [ ]:
     #############    #########    Why pandas is so popular in data science?    ##########    ##############
    
 =>  Pandas is used in conjunction with other libraries that are used for Data science.

 =>  It is built on the top of the NumPy library which means that a lot of structures of NumPy are used or 
       replicated in Pandas.
        
 =>  The data produced by Pandas is often used as input for plotting functions of Matplotlib, 
        statistical analysis in SciPy, machine learning algorithm in Scikit-learn.
    
 =>  Pandas is designed for working on Tabular Heterogeneous data, while Numpy is designed for working on
         Homogeneous Numerical array data.

In [ ]:
             #############   #############    Pandas Series    #############     ##############
    
 =>  Pandas Series is a one-dimensional labeled array capable of holding data of 
         any type (integer, string, float, python objects, etc.).

 =>  The axis labels are collectively called index. 
    
 =>  Pandas Series is nothing but a column in an excel sheet. 

 =>  Labels need not be unique but must be a hashable type. 
    
 =>  The object supports both integer and label-based indexing and provides a host of
        methods for performing operations involving the index.
    
 =>  A Pandas Series will be created by loading the datasets from existing storage, 
        storage can be SQL Database, CSV file, and Excel file. 
    
 =>  Pandas Series can be created from the lists, dictionary, and from a scalar value etc.

  <img src = "https://media.geeksforgeeks.org/wp-content/uploads/20200225170506/pandas-series.png">

In [ ]:
               ###########    ###########    Creating a Pandas Series   ##########    ############

 =>  A Pandas Series is created by loading the datasets from existing storage, storage can be SQL Database, 
        CSV file, and Excel file. 
    
 =>  An Empty Pandas Series is created with pd.series() method.

        >>> series = pd.Series()
    
 =>  Pandas Series can be created from the lists, dictionary, and from a scalar value etc. 

        >>> series = pd.Series(list/dictionary)
      
 =>  In order to create a series from Numpy array, we have to import numpy module and have to use array() function.
        
        >>>  array = np.array(['g', 'e','e', 'k', 's'])
        
        >>>  series = pd.Series(array)
        
 =>  To create a Pandas series with provided index , we uses index argument with a list.
       
 =>  Data items and index list should have equal number of items.

      >>>  series = pd.Series(array, index =[10, 11, 12, 13, 14])
    
 => In order to create a series from scalar value, an index must be provided. The scalar value will be repeated 
          to match the length of index.
    
        >>>  series = pd.Series('value', index =[0, 1, 2, 3, 4, 5])

In [8]:
List = [1, 2, 3 , 4, 5, 'a', 'Shriman', 'India', 'Python']

series = pd.Series(List, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
series

a          1
b          2
c          3
d          4
e          5
f          a
g    Shriman
h      India
i     Python
dtype: object

In [ ]:
      ###############     ############    Pandas Dataframe    #############     #############
    
 =>  Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure 
        with labeled axes (rows and columns).
    
 =>  A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows 
       and columns. 
    
 =>  Pandas DataFrame consists of three principal components, Data, rows, and columns.

 =>  A Pandas DataFrame will be created by loading the datasets from existing storage,
        storage can be SQL Database, CSV file, and Excel file and many more. 
        
 =>  Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20200225170602/pandas-dataframe.png">

     ##############   ##########   Methods To creating DataFrames in Pandas    ##########   ##############

In [ ]:
       ###############   ##########   Dataframe from a Dictionary    ###########   ############## 

 =>  Calling Dataframe constructor on lists or nested lists generates a DataFrame.

 =>  Single list gives a Single-column dataframe where as a Nested List gives a dataframe of multiple size.
       Inner lists of a nested lists makes the rows and items of a list makes the columns of Dataframe.
        
      >>>  pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8]]
    
 =>  Steps to create a Datframe with dictionaries or ndarray 

       *  To create DataFrame from dict of ndarray/list, all the ndarray must be of same length. 
    
       * If index is passed then the length index should be equal to the length of arrays. 
            If no index is passed, then by default, index will be range(n) where n is the array length.
            
      >>>  dict = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
                    'year': [2000, 2001, 2002, 2001, 2002, 2003],
                     'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

      >>>  df = pd.Dataframe(dict)

In [10]:
 dict = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
                    'year': [2000, 2001, 2002, 2001, 2002, 2003],
                     'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
    
df = pd.DataFrame(dict)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
      ###########   ########    Creation of dataframe using read_csv()   #########   ########## 
    
 *  pd.read_csv('filepath')  ->  This reads a CSV file and converts to a DataFrame.

 =>  We can use read_csv() to read a TSV file with delimiter = '\t' .
    
 *  df.to_csv(path, sep, ** kwargs) is used to store a dataframe to a csv file.  
 

#  Reading a csv file manually in pandas
import csv

f = open('files/file.csv')
csv = csv.reader(f)

for i in csv:
    print(i)

In [11]:
df = pd.read_csv('files/titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
      ###########   ########    Creation of dataframe using read_table()   #########   ############ 
 
 =>  pd.read_table('filepath')  ->  This creates a dataset from a Tab-separated values file.
    
 =>  We can use read_table() to read a csv file with delimiter = ',' .

 =>  This uses all parameters of read_csv() method.
    
      >>>  pd.read_table('files/sms.tsv')

In [13]:
# Creatring a dataframe using read_tsv()

df = pd.read_table('files/sms.tsv')
df

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...
...,...,...
5566,spam,This is the 2nd time we have tried 2 contact u...
5567,ham,Will ü b going to esplanade fr home?
5568,ham,"Pity, * was in mood for that. So...any other s..."
5569,ham,The guy did some bitching but I acted like i'd...
5570,ham,Rofl. Its true to its name

In [ ]:
      ###########   ########    Creation of dataframe using read_clipboard()   #########   ########## 
    
 * pd.read_clipboard()  ->  This creates a dataFrame from the content in clipboard and pass to read_csv() method.

     => sep  ->  (string values) Default is  '\s+'  denotes one or more white-space characters.
    
     => **kwargs  ->  This parameter belongs to read_csv() method.

In [ ]:
      ###############    ############    Dataframe from a HTML Webpage    ############    ###############
    
 =>  pd.read_html('URL')  ->  This is used to extract tables from Html webpage and returns a list.

 =>  This list contains all tables from a webpage with a separate index.
    
 =>  To get Tables as Dataframe, We uses List Indexing.

       >>> list = pd.read_html("https://basketball-reference.com/leagues/NBA_2015_totals.html")
       
       >>> list[i] return the particular dataframes.

In [17]:
list = pd.read_html("https://basketball-reference.com/leagues/NBA_2015_totals.html")
type(list)

len(list)

list

In [18]:
df = pd.DataFrame(list[0])
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [ ]:
      ##############   ##########  Working with Binary files in Pandas   ###########   ###############
    
 =>  The process of conversion of Object codes into Byte codes is known as Serialisation operation.

 =>  The process of conversion of Byte codes into object codes is known as De-Serialisation operation.
    
 =>  The combined process of Seriaslisation & Desearialisation is known as Ser-De Operation.

 =>  pd.read_pickle() is used to create a Dataframe from Byte codes or Pickle files.
    
 =>  df.to_pickle() is used to transform an Object code into Byte codes and store it as a Pickle File.

In [20]:
df.to_pickle('df.pickle')   # This is Serialization operation.

In [22]:
pd.read_pickle('df.pickle')     #  This is De-serialisation operation

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [ ]:
      ###############   ############    Working with json data in Pandas    #############    ################
    
 =>  json stands for Javascript Object Notation is an open standard file format that uses human-readable text
           to store and transmit Data objects.
    
 =>  json objects behaves similar to a Python dictionary but not a dictionary. 

 =>  json objects can be created using a nested dictionary.
 
 =>  json should be imported and then json object can be created using json.loads(dict)
    
 =>  The type of created json object is dictionary.
   
 =>  df.to_json("file_name", orient = "records") is used to store similar data in json file format.

In [27]:
#  Python program to create a json object from Python dictionary

# Creating a Nested dictionary
dict = """
         {"name":"wes", "places_lived":["USA", "Spain", "Germany"], "pet":"null",
          "Siblings":[{"name":"scott", "age":"30", "pets":["zeus", "zuco"], "key1": [1, 2, 3, 4]},
          {"name":"katie", "age":38, "pets":["Sixes", "stache", "cisco"]}]} """

# Importing json and creating json object
import json

j = json.loads(dict)

# Creating a dataframe with json object
df = pd.DataFrame(j["Siblings"])
df

    name age                    pets          key1
0  scott  30            [zeus, zuco]  [1, 2, 3, 4]
1  katie  38  [Sixes, stache, cisco]           NaN

In [ ]:
 * pd.read_feather(path, columns=None, use_threads: bool = True)
  
 => This loads a feather-format object from the file path and makes a Dataframe.
    
 => “Feather” is a fast, lightweight, language agnostic and easy-to-use binary file format for storing dataframes.

 =>  $   OR   $ pip install feather-format

[Different file formats available in pandas](https://pandas.pydata.org/docs/user_guide/io.html)

In [ ]:
 * pd.read_parquet(path, engine : str = 'auto', columns=None, **kwargs)
    
 => This loads a parquet object from the file path & return a DataFrame.

 => Apache Parquet is a free and open-source column-oriented data storage format of the Apache Hadoop ecosystem. 
    
 => It is similar to the other columnar-storage file formats available in Hadoop namely RCFile and ORC.

 => It is compatible with most of the data processing frameworks in the Hadoop environment.
    

 * df.to_parquet(path, engine='auto', compression='snappy', index=None, partition_cols=None, **kwargs)

In [11]:
# Python program to create & read a dataframe using Parquet Files.
df = pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]})

# storing dataframe to Parquet file
df.to_parquet('files/parquet_file.gzip', compression='gzip')

# Reading dataframe from a Parquet File
pd.read_parquet('files/df.parquet.gzip')

   col1  col2
0     1     3
1     2     4

In [ ]:
 * pd.read_orc(path, columns=None, **kwargs)
    
  => This loads a Dataframe from 'orc file', and makes a Dataframe.

  => Apache ORC (Optimized Row Columnar) is a free and open-source column-oriented data storage format of 
       the Apache Hadoop ecosystem. 
        
  => It is similar to the other columnar-storage file formats available in the Hadoop ecosystem such as RCFile 
       and Parquet.

In [ ]:
 * pd.read_fwf(filepath, colspecs='infer', widths=None, infer_nrows=100, **kwds)
    
    =>  This loads a dataframe from FWF (Fixed-Width Formatted lines) file.

 [link](https://pypi.org/project/fwf/)

In [ ]:
      ##############   ############   Working with HDF5 Files in Pandas    ##############   ############

 => Hierarchical Data Format (HDF) is self-describing, allowing an application to interpret the structure and 
     contents of a file with no outside information.
        
 => One HDF file can hold a mix of related objects which can be accessed as a group or as individual objects.
    
 => In order to add another DataFrame or Series to an existing HDF file use append mode and a different key.
    

 * pd.read_hdf(path, key, mode, errors, where, start, stop, columns, iterator, chunksize, **kwargs)
    
    =>  This loads a dataframe from hdf files at a given path.
    
 * df.to_hdf(path, key, mode, complevel, complib, append, format, index, min_itemsize, nan_rep, dropna,
          data_columns, errors, encoding)
  
    =>  This writes a combined dataframe to an HDF5 file using HDFStore.

In [ ]:
      ##############   ############   Working with gbq Files in Pandas    ##############   ############

 => pandas-gbq is a package providing an interface to the Google BigQuery API from pandas.

 => The pandas_gbq module provides a wrapper for Google’s BigQuery analytics web service to simplify 
     retrieving results from BigQuery tables using SQL-like queries.
        
 => Result sets are parsed into a pandas DataFrame with a shape and data types derived from the source table. 
      Additionally, DataFrames can be inserted into new BigQuery tables or appended to existing tables.

 => Install GBQ files -
    
      $ conda install pandas-gbq --channel conda-forge      &  $ pip install pandas-gbq

In [ ]:
   ##############  ############   Some more methods to deal with dataframes in python     ######  #############   
 
 * pd.read_sas() -> 

 * pd.read_spss() ->
    
 * pd.read_sql() ->

 * pd.read-sql_query() ->

 * pd.read_sql_table() ->

 * pd.read_stata() ->

In [12]:
          ############    ############   Working with EXCEL Files In Pandas   ###########   #############

In [ ]:
    ###########    ##########   Loading Excel spreadsheet as Pandas DataFrame    ############   ############
    
 =>  We first need to import Pandas and load excel file, and then parse excel file sheets as a Pandas dataframe.

In [ ]:
    ###########    ##########  Reading excel files using read_excel() method  ###########    ##############

=>  read_excel() methods with 'sheet_name' & 'usecols' attribute is used to get a specific sheet from 
    
       >>> pd.read_excel(file, sheet_name, usecols)
        
    * 'sheet_name = None' returns all sheets of excel file & '0 or 1' gives specific sheet of excel file.

In [ ]:
     ############    ############   Working with Excel files in Pandas    ###########    #############
    
#   ##########   Handling missing data using 'na_values' parameter of the read_excel() method    ###########
  
df1 = pd.read_excel('files/pandas.xlsx', na_values = "Missing", sheet_name = 0) 

#     ########   Skip starting rows in Excel File using 'skiprows' parameter of read_excel() method   ########

df2 = pd.read_excel('files/pandas.xlsx', sheet_name = 0, skiprows = 2)

#  Set the header to any row and start reading from that row, using 'header' parameter  of the read_excel() method.

df3 = pd.read_excel('sample.xls', sheet_name = 0, header = 2)

In [ ]:
       #############   ###########    Loading google Sheets in Pandas    ###############     ###############

# Assigning sheet_id and sheet_name
sheet_id = "1-eEosWNqKvCfcB7ytcNCU0u0E0Y-KcbB6Z4CrLWzpTw"
sheet_name = "Sheet1"

# Creating Sheet_url for creating dataframe
sheet_url = "https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(sheet_id, sheet_name)

#  Creating Pandas dataframe with google sheets file
df = pd.read_csv(sheet_url)
df

In [ ]:
        ###############     ########    Pandas - Working with DataFrame & Series   ########    ##############

In [ ]:
        #############   ###########   Indexing Columns in DataFrame   #############   ############

 =>  Indexing operator '[]' with reference to DataFrame or df is used to indexing the data of rows or columns.

 =>  df["Column_name"]  -> This access a single column from dataframe. 
 
 =>  df[["col_1", "col_2", "col_3"]]  ->  This access multiple columns by passing a list of their names.
    
 =>  df[df.columns[i:j]]  ->  This access columns in a range (i, j) excluding jth column whereas (i & j) are numerical values.

In [ ]:
        ###########   ###########   Indexing Rows  #############    ##############   
    
 =>  df.loc["row_name"]  ->  This access a single row of dataFrame.
    
 =>  df.loc[["row_1", "row_2", "row+_3"]]  ->  This access multiple rows from a dataframe.

 =>  df.loc['ith row' : 'jth row']  ->  This access multiple rows in a range means all rows from ('i'th index to 'j'th index).

In [ ]:
     #############    ###########   Indexing Rows and Columns  #############   ############
        
          ##########     ##########    iloc[] method   ############    ##############
    
 =>  iloc[] method is Purely integer-location based indexing for selection by position.

 =>  df.iloc['row_name']  ->  This access a single specified row from dataframe..
    
 =>  df.iloc[[1, 2, 3, 4]]  -> This access multiple rows by passing a List of their positional index with iloc[] method.

 =>  df.iloc[i:j]  ->  This access all rows from i to j.
    
 =>  df.iloc[a:b, i:j]  ->  This access rows in range (a,b) and columns (i:j).

 =>  df.iat[i,j]  ->  This access a particular data of ith row and jth column.

In [ ]:
      ############     ##########    Boolean Indexing in Pandas   ##########    #############
    
 =>  In boolean indexing, We select subsets of data based on the actual values of the data in the DataFrame
       and not on their row/column labels or integer locations
    
 =>   We use a boolean vector to filter the data. 
   
 =>  In boolean indexing, we can filter a data in following ways.

        *  Accessing a DataFrame with a boolean index
    
        *  Applying a boolean mask to a dataframe

        *  Masking data based on column value

        *  Masking data based on index value

In [ ]:
# importing pandas as pd 
import pandas as pd 

# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
		'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
		'score':[90, 40, 80, 98]} 

# creating a dataframe with boolean index 
df = pd.DataFrame(dict, index = [True, False, True, False]) 
df

In [ ]:
      ##########    ##########    Accessing a DataFrame with a boolean index    ##########    ##############

 =>  In order to access a dataframe with a boolean index, we have to create a dataframe in which 
        index of dataframe contains a boolean value that is “True” or “False”. 
    
 =>  df.loc() is used to access dataframe with Boolean indexes.

 =>  df.loc[index_name]  ->  This access all rows associated with this index_name.
    
        >>> df.loc[True]

In [ ]:
# Accessing a dataframe using .loc[] function 

df.loc[True]

In [ ]:
        ############     ############   Filtering a dataset using Boolean indexing    ############    #############

 =>  In a dataframe we can filter a data based on a column value in order to filter data, we can apply certain condition 
       on dataframe using different operator like ==, >, <, <=, >=.
    
 =>  When we apply these operator on dataframe then it produce a Series of True and False.

In [ ]:
import pandas as pd

df = pd.read_csv('files/file.csv').head()
df

In [ ]:
# using a comparsion operator for filtering of data 
df['Salary'] >= 10000

In [ ]:
#  Masking data based on Index values     

mask = df.index >= 0
df[mask]

In [ ]:
      ###########    ############   Missing Values in Pandas    ############    #############

 =>  Missing Data can occur when no information is provided for one or more items or for a whole unit.

 =>  Types of missing values in Python :
        
     * None: None is a Python singleton object that is often used for missing data in Python code.

     * NaN (Not a Number) is a special floating-point value recognized by all systems that uses Standard IEEE floating-point
                                                                                                             representation.
    
    
    #########    ##########   Checking Missing values in Data Frame   ##########    ############

 =>  df.isnull() and df.notnull() returns a dataframe with boolean values after checking the Nan values.

      >>>  df.isnull()      or    >>>  df.notnull()
    
    
     ###########   ############   Filling Missing Values in DataFrame    ###########    ############
    
 =>   =>  df.dropna() is used to drop or removethe rows or columns with Nan values from DataFrame.
    
       >>>  df.dropna(axis, how='any', thresh=None, subset=None, inplace=False)
        
        
          * axis(0 or 1)  ->  This determine the rows or columns having Missing values to be removed.
            
          * how ('any', 'all')  ->  'any' says to drop the row or column if they have any NA values and 
                                    'all' says to drop the row or column if all values are NA.
    
          * subset (array-like, optional)  ->  This Labels along other axis to consider, e.g. if you are dropping rows these 
                                                   would be a list of columns to include.

In [ ]:
 ###########   ############   Filling Missing Values in DataFrame    ###########    ############

 =>  df.fillna() is used to fill a specified value instead of Nan values in dataFrame.

        >>>  df.fillna(value, method, axis, inplace, limit, downcast)
       
        * method ('backfill', 'bfill', 'pad', 'ffil', None)  ->  This specifies a method to fill the values.
    
 >>> df.fillna(value)  ->  This fills a specified value on place of NA values.

 >>> df.fillna(method = 'pad')  ->  This fills by padding with previous values.
 
 >>> df.fillna(method = 'backfill')  ->  This fills by padding with next values.

In [ ]:
 =>  df.replace() is used to replace a previous value with a new value.

        >>> df.replace(to_replace, value, inplace=False, limit=None, regex=False, method='pad')

In [ ]:
 =>  df.interpolate() is used to Interpolate values according to different methods.

      >>> df.interpolate(method='linear', axis=0, limit=None, inplace=False, limit_direction='forward',
                                                                         limit_area=None, downcast=None)

In [ ]:
      ##############    ##########    Iterating over Pandas Dataframe    ###########    ##############

In [ ]:
        #########   ########   iterrows() and iteritems()   ##########    ##########
    
 =>  df.iterrows() is used to iter thru the rows of a dataframe.

     >>> for i, j in data.iterrows(): 
           print(i, j) 
           print()

 =>  df.iteritems() iterates over each column as key, value pair with label as key 
                      and column value as a Series object.

In [ ]:
        ############   #########   iterating with itertuples()   ##########  ###########
    
 => df.tertuples()  return a tuple for each row in the DataFrame. 

 => The first element of the tuple will be the row’s corresponding index value,
        while the remaining values are the row values.
        
    >>> for i in data.itertuples(): 
             print(i, "\n")

In [ ]:
          ###########    ########   Iterating over columns   ###########    ############
    
 =>  In order to iterate over columns, we need to create a list of dataframe columns 
         and then iterating through that list to pull out the dataframe columns.
    
 =>  We first create a list of dataframe columns and then iterate through list.

In [ ]:
# creating a list of dataframe columns 
columns = list(df) 

for i in columns: 
    
    # printing the third element of the column 
    print (df[i])

In [ ]:
            ############   ##########    Data Manipulation  on Dataframe   ########    ##############

In [ ]:
    ##############   ##########  Converting DataFrame to Numpy nd-array  ##########   #############

 =>  Pandas DataFrame can be converted to NumPy ndarray with the help of Dataframe.to_numpy() method.

 =>  df.to_numpy(dtype=None, copy=False) -> numpy.ndarray
    
     *  dtype: Data type which we are passing like str.

     *  copy: [bool, default False] Ensures that the returned value is a not a view on another array.

In [ ]:
  ##############    #########    Converting  Pandas Series to a Numpy array   #########    #############
    
 =>  Pandas Series.to_numpy() function is used to return a NumPy ndarray representing the values
          in given Series or Index.

    Syntax: Series.to_numpy()
        
        *  dtype: Data type which we are passing like str.
   
        *  copy : [bool, default False] Ensures that the returned value is a not a view on another array.
        
 =>  Changing the Series into numpy array by using a method Series.to_numpy(). 
      Always remember that when dealing with lot of data you should clean the data first to get the high accuracy. 
    Although in this code we use the first five values of Weight column by using .head() method.

In [ ]:
   ##############    #######  Adding new column to existing DataFrame in Pandas    ###########   #############
    
 =>  There are various ways to add a new column to an Existing DataFrame.

       * By declaring a new list as a column and assign to dataframe  ->   >>> df['column_name'] = list
       
       * By using df.insert()        ->   >>>  df.insert(location, column_name, value, allow_duplicates=False)
         
       * Using df.assign() method   ->   >>>  df = df.assign(column_name = [Value1, value2, ...])

In [ ]:
# Adding a new column to dataframe using various ways
import pandas as pd 

# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
		'Height': [5.1, 6.2, 5.1, 5.2], 
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 

# Using 'Address' as the column name and equating it to the list 
df['Address'] = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

# Adding a new column using df.insert()
df.insert(2, "Age", [21, 23, 24, 21], True) 

#  Adding a new column to dataframe using df.assign() method
df = df.assign(Price = [250,800,1200,300])

# Observe the result 
df

In [ ]:
   #########   ##########   Deleting or Removing Rows or columns from a dataframe  ##########   #########

 =>  df.drop() method is used to delete or remove rows or columns from a dataframe.
    
 =>  Rows or columns can be removed using index label or column name using this method.

   =>  df.drop( labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

      * labels: String or list of strings referring row or column name.
    
      * axis: int or string value, '0' for Rows and '1' for Columns.

      * index or columns (Single label or list) index or columns are an alternative to axis and cannot be used together.

      * level: Used to specify level in case data frame is having multiple level index.

      * inplace: Makes changes in original Data Frame if True.

      * errors: Ignores error if any value from the list doesn’t exists and drops rest of the values when errors = ‘ignore’

      * Return type: Dataframe with dropped values

In [ ]:
 =>  Pandas DataFrame.truncate() function is used to truncate a Series or DataFrame before and after some index value. 

 =>  This is a useful shorthand for boolean indexing based on index values above or below certain thresholds.

   =>  Syntax: df.truncate(before=None, after=None, axis=None, copy=True)

       * before : Truncate all rows before this index value.

       * after : Truncate all rows after this index value.

       * axis : Axis to truncate. Truncates the index (rows) by default.

       * copy : Return a copy of the truncated section.

       * Returns : The truncated Series or DataFrame.

[Truncate a dataframe](https://www.geeksforgeeks.org/python-pandas-dataframe-truncate/)

In [ ]:
   ##########    ##########   Sorting a Dataframe in Pandas  with single Parameter ###########    ############
    
 =>  Pandas sort_values() function sorts a data frame in Ascending or Descending order of passed Column.

     =>  DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)
    
          * by: Single/List of column names to sort Data Frame by.

          * axis: 0 or ‘index’ for rows and 1 or ‘columns’ for Column.

          * ascending: Boolean value which sorts Data frame in ascending order if True.

          * inplace: Boolean value. Makes the changes in passed data frame itself if True.

          * kind: String which can have three inputs(‘quicksort’, ‘mergesort’ or ‘heapsort’) of algorithm used to sort 
                     data frame.

          * na_position: Takes two string input ‘last’ or ‘first’ to set position of Null values. default is ‘last’.
                
          * Returns a sorted Data Frame with Same dimensions as of the function caller Data Frame.

In [ ]:
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("files/file.csv") 

# sorting data frame by name 
data.sort_values("Name", axis = 0, ascending = True, 
				inplace = True, na_position ='last') 

# display 
data

In [ ]:
            ###########   #########   Changing Position of Null Values    ###########    ##############

 =>  In the give data, there are many null values in different columns which are put in the last by default.

 =>  In this example, the Data Frame is sorted with respect to Salary column and Null values are kept at the top.

In [ ]:
# importing pandas package 
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("file.csv") 

# sorting data frame by name 
data.sort_values("Salary", axis = 0, ascending = True, 
				inplace = True, na_position ='first') 

data 
# display

In [ ]:
     ##########    ##########   Sorting a Dataframe in Pandas with Multiple Parameter    ###########    ############
   
 =>  DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)
 
 =>  Sorting by Name and Team
I
 =>  A data frame is loaded from the csv file and the data frame is sorted in ascending order of Team and in every Team 
      the Name is also sorted in Ascending order.

In [ ]:
#importing pandas package 
import pandas as pd 

#making data frame from csv file 
data=pd.read_csv("file.csv") 

#sorting data frame by Team and then By names 
data.sort_values(["Team", "Name"], axis=0, ascending=True, inplace=True) 

#display 
data

In [ ]:
       ############    ##########   Passing list to Ascending Parameter   ##########   ##############
    
 =>  We can also pass a list to the ‘ascending’ Parameter to tell pandas which column to sort how.

 =>  The index of Boolean in ‘ascending’ parameter should be same as the index of column name in ‘by’ Parameter.

In [ ]:
          ##############    ##########   Sorting using 3 Columns   ##########   ##############
    
 =>  In the following example, the same Data Frame is sorted by Team name. 

 =>  For every Team, the Data frame is sorted by Age and for every same Age the Data frame is sorted by Height. 
    
 =>  This example will explain how multiparameter sorting works in Data Frame.

In [ ]:
#importing pandas package 
import pandas as pd 

#making data frame from csv file 
data=pd.read_csv("file.csv") 

#sorting data frame by Team, age and height 
data.sort_values(["Team", "Age", "Height"], axis=0, 
				ascending=[False,True,False], 
inplace=True) 

#display 
data

In [ ]:
=>  As shown in the Image, The team name is sorted first, then the Age and for every age, the height is sorted. 
    
 =>  In the Team “Washington Wizards” there are 3 Players with age 30. Those 3 people are sorted by their Height 
         in ascending order.

In [ ]:
        
    
 =>  Pandas head(n=5) method is used to return top n (5 by default) rows of a data frame or series.
 
 =>  Pandas tail(n=5) method is used to return n rows from bottom in a dataframe or series.

 
 =>  Pandas describe() generates Descriptive statistics include those that summarize the central
        
            tendency, dispersion and shape of a dataset's distribution, excluding ``NaN`` values.
        

 =>  df.describe(percentiles=None, include=None, exclude=None) -> FrameOrSeries

    * percentile ->  This is a list like numbers. By default [.25, .5, .75]. All falls b/w 0 & 1.

    * include: List of data types to be included while describing dataframe. Default is None

    * exclude: List of data types to be Excluded while describing dataframe. Default is None

In [ ]:
          ###############   ##########    Some Popular Methods in Pandas    #########    ###############

In [ ]:
 =>  df.head(n)  ->  This return top 'n' rows of dataframe or series. By default n = 5. 
 =>  df.tail(n)  ->  This return 'n' rows from bottom of dataframe or series. By default n = 5

 =>  df.index    ->  This gives information about the index of dataframe or series.
 =>  df.columns  ->   This return all columns of a dataframe.
 =>  df.dtypes   ->  This return dtypes of each column of dataframe.
 =>  df.astype() ->  This cast a pandas dataframe to given dtype. 
 =>  df.values   ->  This return  values of all Numerical and Categorical variables of a dataframe.
 =>  df.shape    ->  This return the shape of dataframe in form of a tuple.
 =>  df.ndim     ->  This return the total number of dimensions of a dataframe.

 
 => df.add(df1, axis)  ->  This adds the values of 2 dataframes according to given axis.
 => sr.add(sr, axis)   ->  This adds the values of two series. add(), sub(), mul(), div() works in a similar way.
 
 => df.prod() & sr.prod()  ->  This gives product for required axis
    
 =>  df.copy(deep=bool)  ->  this makes a Deep or shallow copies of dataframes.

 =>  df.drop_duplicates()  ->  This return the dataframe with dropping the rows with duplicate values.

In [ ]:
 =>  df.insert(loc, 'column_name', value, allow_duplicates=False)  ->  This inserts a column to a dataframe.

 =>  df.unique(axis = 0, dropna=True)  ->  This counts number of different observations of an item over a required axis.
 
 =>  df.isin([x, y, z, ..])  -> This return a dataframe with Boolean values by checking if  an item is from [x, y, x, ..].

In [ ]:
 => df.sort_values(by = str or list of str)  ->  This is used for sorting by given by = (column_names) and axis.

In [ ]:
 => df.pop(item)  ->  Tris pops and return an item (column) from dataframe.

In [ ]:
 * df.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None) 
    
     ->  This Return a random sample of items from an axis of object.

In [ ]:
 * df.nsmallest(n, columns, keep='first')  ->  This return the first 'n' rows from columns in Ascendomg order. 

 * df.nlargest(n, columns, keep='first')   ->  This return the n rows from columns in Descending order.

In [ ]:
  * df.where(condn, other=nan, inplace=False, axis=None, level=None, errors='raise', try_cast=False)

 => This replace values, where the condition is False.

In [ ]:
  * df.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
    
    =>  Set the DataFrame index using existing columns.

In [ ]:
         ##############   ###########   Some popular methods for Pandas Series    #############   ###############
    
 =>  sr.pow(n, level=None, fill_value=None)  ->  this computes the exponent of each items of a series.

 =>  sr.mean()  ->  This gives the Mean value of series.
    
 =>  sr.abs()   ->  This return absolute numerical values for a dataframe or a series.

 =>  sr.cov(other)  ->  This return covariances of series.

 =>  sr.count(level=None)  ->  This return non-NA observations or no. of values in a series.

 =>  sr.size               ->  This return the no. of values or items of a series.

 =>  sr.name               ->  This return the na,me of Series.

 =>  sr.is_unique          ->  This checks for if items of series are unique or not and return a Bool value.
 
 =>  sr.sort_values()      ->  This is used to sort the values of a series.

 =>  sr.le(n)              ->  This checks that values of series is leass than or equal to 'n' and then return Boolean series.

 =>  sr.ne(n)              ->  This checks for all items not equal to 'n' .
    
 =>  sr.ge(n)              ->  This checks for all items greater than or equal to 'n' .

 =>  sr.eq(n)              ->  This checks for all items of series are equal to 'n' or not.
    
 =>  sr.gt() &  sr.lt()    ->  These checks for Grater than & Less than conditions for all items of a series.

 =>  sr.unique()           ->  This return unique values of Series object.

 =>  sr.nunique()          ->  This return number of unique elements in the series.

 =>  sr.value_counts()     ->  This return a series of counts of unique values.

 =>  sr.factorize()        ->  This Encode the object as an enumerated type or categorical variable.
    
 =>  sr.apply(func)        ->  This is used to combine a function with series.

In [ ]:
        ############      ################   Grouping operation In Pandas    ###############    #############

In [ ]:
             ###########    ##########   Grouping data in Pandas   ##########   #############
    
 =>  We can create a grouping of categories and apply a function to the categories.

 =>  Groupby mainly refers to a process involving one or more of the following steps they are:

    *  Splitting : It is a process in which we split data into group by applying some conditions on datasets.

    *  Applying  : It is a process in which we apply a function to each group independently

    *  Combining : It is a process in which we combine different datasets after applying groupby and results 
                     into a data structure

In [ ]:
              ###########    ##########   Splitting Data into groups    ##########   #############
  
 =>  Splitting is a process in which we split data into a group by applying some conditions on datasets.
      
 =>  groupby() function  is used to split the data into groups based on some criteria.
        
 =>  Pandas objects can be split on any of their axes. 
  
 =>  The abstract definition of grouping is to provide a mapping of labels to group names.
 
 =>  Pandas datasets can be split into any of their objects. There are multiple ways to split data like:

         *  obj.groupby(key)

         *  obj.groupby(key, axis=1)

         *  obj.groupby([key1, key2])

In [ ]:
             ################     ##############   Groupby()  method     ###############    ################
    
 =>  groupby() method is used to performing grouping operations over dataframes using a mapper or by a Series of columns.

 =>  Applying Group-by() gives an object and then we can directly perform all basic data manipulations on top of it. 
    
 =>  groupby objects can be printed using first() method.

     >>> df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, sqyeeze=False, observed=False)

In [ ]:
           ###########   #########  Grouping data with one key   ###########    ############

 =>  In order to group data with one key, we pass only one key as an argument in groupby() function.

        >>>  group = df.groupby('Name') 
        >>>  group.first()                             # Getting 1st entries of grouped objects

        
           ###########   #########  Grouping data with multiple keys   ###########    ############
    
 =>  In order to group data with multiple keys, we pass multiple keys in groupby function.

        >>>  group = df.groupby(['Name', 'Qualification'])
        >>>  group.first()

In [ ]:
           #############   Python program to show the groupingg of datasets using groupby() method    ############

# importing pandas module 
import pandas as pd 
# importing numpy as np 
import numpy as np 

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi', 
				'Gaurav', 'Anuj', 'Princi', 'Abhi'], 
		'Age':[27, 24, 22, 32, 
			33, 36, 27, 32], 
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'], 
		'Qualification':['Msc', 'MA', 'MCA', 'Phd', 
						'B.Tech', 'B.com', 'Msc', 'MA']} 
	

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1) 
df

In [ ]:
    ##############    ##############   Splitting dataset using one key & multiple keys    ###############     #############

# Applying groupby() function to group the data on 'Name'  value. 
group1 = df.groupby('Name') 

# Applying groupby() function to group the data on 'Name'  value & 'Qualification' value
group2 = df.groupby(['Name', 'Qualification'])


# Printing the first entries in all the groups formed. 
print(group1.first())
group2.first()

In [ ]:
          ###########   #########  Grouping data by sorting keys   ###########    ############
    
 =>  Group keys are sorted by default using the groupby operation. User can pass sort=False for potential speedups.

         >>> df.groupby(['key'], sort = False).sum()

In [ ]:
# Using sort=False for fast computations in grouping operations

df.groupby(['Name'], sort = False).sum()

In [ ]:
         #############   ##########   Itterating Through groups    ###########   #############
    
 =>  In order to iterate an element of groups, we can iterate through the object similar to itertools.obj.

In [ ]:
# iterating an element of group 

grp1 = df.groupby('Name')                        #  Grouping using single key
grp2 = df.groupby(['Name', 'Qualification'])     #  Grouping using multiple keys

#  Iterating in group
for name, group in grp2: 
	print(name) 
	print(group) 
	print()

In [ ]:
        ###############    #############   Selection of a group   #############    ################
    
 =>  GroupBy.get_group() is used to select a group obtained by Grouping operations.
    
       >>>  group.get_group('group_name')

In [ ]:
# Selecting a group
grp1.get_group('Jai')                #  Grouped with single key

grp2.get_group(('Jai', 'Msc'))       #  Grouped with multiple keys

In [ ]:
             ##########    ##########    Applying Functions to group   ##########    ############

In [ ]:
 => After splitting adataset into groups, we just apply some operations (functions) over them.
    
    
      *  Aggregation    : It is a process in which we compute a summary statistic about each group. 
                            For Example, Compute group sums or means.
            
      *  Transformation : It is a process in which we perform some group-specific computations and return a like-indexed.  
                            For Example, Filling NAs within groups with a value derived from each group
            
      *  Filtration     : It is a process in which we discard some groups, according to a group-wise computation that evaluates
                            True or False.  
                          
                            For Example, Filtering out data based on the group sum or mean

In [ ]:
         ##########    ##########    Aggregation function  ##########    ############

 =>  Aggregation is a process in which we compute a summary statistic about each group  returns a single aggregated value
          for each group. 
    
 =>  After splitting a data into groups using groupby function, several aggregation operations can be performed
           on the grouped data.

In [ ]:
          #############    ############   aggregate() method     ############    ############
 
 =>  group.aggregate(func)  ->  This is used to peform aggregations by passing one or more functions together.
    
 =>  'func' parameter takes a function, string name of a funcion, list of functions or their names.
            
 =>  series.agg() is called with a single function return a scalar value.
 
 =>  dataframe.agg() is called with single function return a series.

 =>  dataframe.agg() is called with several functions return a dataframe.

      >>> group.aggregate(func)                  ->    This is calling a single function.
      >>> group.aggregate([func1, func2, ..])    ->    This is calling several functions.

In [ ]:
# Performing aggregation using aggregate() method 
grp1 = df.groupby(['Name', 'Qualification']) 

grp1.aggregate([np.sum, np.mean, min, max])

In [ ]:
 =>  In order to apply a different aggregation functions to the columns of a DataFrame, we can pass a dictionary to aggregate .

        >>>  group.agg({'column_1' : 'sum', 'column_2' : 'std'})

In [ ]:
#  Different aggregation function on different columns

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi', 
				'Gaurav', 'Anuj', 'Princi', 'Abhi'], 
		'Age':[27, 24, 22, 32, 
			33, 36, 27, 32], 
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'], 
		'Qualification':['Msc', 'MA', 'MCA', 'Phd', 
						'B.Tech', 'B.com', 'Msc', 'MA'], 
		'Score': [23, 34, 35, 45, 47, 50, 52, 53]} 
	

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1) 
grp = df.groupby('Name') 

# Applying different aggregation on different columns
grp.agg({'Age' : 'sum', 'Score' : 'std'})

In [ ]:
            ##########    ##########    Transformation function  ##########    ############

 =>  Transformation is a process in which we perform some group-specific computations and return a like-indexed. 

 =>  Transform method returns an object that is indexed the same (same size) as the one being grouped.  
    
 =>  The transform function must:

          * Return a result that is either the same size as the group chunk
          * Operate column-by-column on the group chunk
          * Not perform in-place operations on the group chunk.
        
 =>  group.transform(func, axis=0,)  ->  This is used to apply a function on grouping ing objects for transformation. 
    
        >>>  func = lambda x: (x - x.mean()) / x.std()*10
        >>>  group.transform(func)

In [ ]:
#  Python code to show transformation of groups
grp = df.groupby('Name') 

# Performing transformations
func = lambda x: (x - x.mean()) / x.std()*10
grp.transform(func)

In [ ]:
      ##########    ##########    Filteration  function  ##########    ############

 =>  Filtration is a process in which we discard some groups, according to a group-wise computation that evaluates either
        True or False.  
    
 =>  In order to filter a group, we use filter method and apply some conditions.

In [ ]:
#  Filteration operation over groups 
grp = df.groupby('Name') 

# filter data that to return the Name which have lived two or more times .
grp.filter(lambda x: len(x) >= 2)

In [ ]:
        ################     ##########   Grouping Rows in pandas    ############    ###############
    
 =>  Create a dataframe first.
 
 =>  Now, create a grouping object, means an object that represents that particular grouping.

In [ ]:
#   Grouping rows in Pandas
 
#  Creating a dataframe
example = {'Team':['Arsenal', 'Manchester United', 'Arsenal', 
				'Arsenal', 'Chelsea', 'Manchester United', 
				'Manchester United', 'Chelsea', 'Chelsea', 'Chelsea'], 
					
		'Player':['Ozil', 'Pogba', 'Lucas', 'Aubameyang', 
					'Hazard', 'Mata', 'Lukaku', 'Morata', 
										'Giroud', 'Kante'], 
										
		'Goals':[5, 3, 6, 4, 9, 2, 0, 5, 2, 3] } 

df = pd.DataFrame(example) 
df

In [ ]:
#  create a grouping object, means an object that represents that particular grouping.
total_goals = df['Goals'].groupby(df['Team']) 

# Printing the means value 
print(total_goals.mean())

In [ ]:
       ###############   ##########   Merging, Joining & Concatenating dataframes    #############    ###############

In [ ]:
            ############    ##########  Concatenating DataFrame    ############    ##########

 =>  In order to concatenate a dataframe, we use concat() function which helps in concatenating a dataframe. 
       We can concat a dataframe in many different ways, they are:

        * Concatenating DataFrame using .concat()

        * Concatenating DataFrame by setting logic on axes

        * Concatenating DataFrame using .append()

        * Concatenating DataFrame by ignoring indexes

        * Concatenating DataFrame with group keys
        
        * Concatenating with mixed ndims

In [ ]:
       ############   ######   Concatenating DataFrame using .concat()  ###########    #############

 =>  In order to concat a dataframe, we use .concat() function this function concat a dataframe and returns a new dataframe.
    
 =>  After concatenation, 2 different dataframes become a single dataframe.

 =>  .concat(object, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, sort=False, copy=True)

In [ ]:
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

# Creating a dataframe with default index
df = pd.DataFrame(data1)
df

In [ ]:
# Define a dictionary containing employee data 
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame with defined index  
df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])
df1

In [ ]:
#  Now we apply .concat function in order to concat two dataframe 

# Creating a list with both dataframes
list = [df, df1]   

# Concatenating datafames by passing the list with concat() method
concat_df = pd.concat(list)
concat_df

In [ ]:
       #############   ############   Concatenating DataFrame by setting logic on axes   ##########    ############
    
 =>  In order to concat dataframe, we have to set different logic on axes. We can set axes in the following
        three ways:

  *  Taking the intersection, join='inner'.

         >>> pd.concat([df, df1], axis=1, join='inner')

  *  Taking the union of them all, join='outer' (zero information loss). 

         >>> pd.concat([df. df1], axis=1, join='outer')

In [ ]:
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 
  
# Define a dictionary containing employee data 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])

# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 

print(df, "\n\n", df1)

In [ ]:
# Now we set axes join = inner for intersection of dataframe

# applying concat with axes join = 'inner'
concat_df = pd.concat([df, df1], axis=1, join='inner')
concat_df

In [ ]:
# using .concat for union of dataframe
concat_df = pd.concat([df, df1], axis=1, join='outer')
concat_df

In [ ]:
  ##########    ##########   Concatenating DataFrame using .append()   #########    #############

 => append() method is used for concatenating 2 dataframes and is similar to concatenation with axis = 0.
    
       >>> df.append(df1, ignore_index=False, verify_integrity=False, sort=False)

In [ ]:
# Now we apply .append() function inorder to concat to dataframe
appended_df = df.append(df1)
appended_df

In [ ]:
##############    ##########   Concatenating DataFrame by ignoring indexes    ###########    ##############

 =>  In order to concat a dataframe by ignoring indexes, we ignore index which don’t have a meaningful meaning,
        you may wish to append them and ignore the fact that theymay have overlapping indexes.  
        
 =>  In order to do that we use ignore_index as an argument.

In [ ]:
# importing pandas module
import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 
   
# Define a dictionary containing employee data 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 
 
 
print(df, "\n\n", df1)

In [ ]:
#  Now we are going to apply ignore_index as an argument.

# using ignore_index
concat_df = pd.concat([df, df1], ignore_index=True)
concat_df

In [ ]:
    #########    ########   Concatenating DataFrame with group keys     ###########     #############

 =>  In order to concat dataframe with group keys, we override the column names with the use of the keys argument. 
 
 =>  This indexes dataframes in concatenated dataframe.

     >>>  pd.concat(frames, keys=['x', 'y'])

In [ ]:
# importing pandas module
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
  
# Define a dictionary containing employee data 
data2 = {'Name':['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'], 
        'Age':[17, 14, 12, 52], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])

# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=[4, 5, 6, 7])

print(df, "\n\n", df1)

In [ ]:
#  Now we use keys as an argument.
frames = [df, df1 ]

res = pd.concat(frames, keys=['x', 'y'])
res

In [ ]:
      ###############    ##############    Concatenating with mixed ndims    #############    ###############
    
 =>  User can concatenate a mix of Series and DataFrame. 

 =>  The Series will be transformed to DataFrame with the column name as the name of the Series.

In [ ]:
# importing pandas module
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
  
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])

# creating a series
s1 = pd.Series([1000, 2000, 3000, 4000], name='Salary')

print(df, "\n\n", s1)

In [ ]:
# Now we are going to mix Series and dataframe together

# combining series and dataframe
concat_df = pd.concat([df, s1], axis=1)
concat_df

In [ ]:
           ############     ##########   Merging dataframe  in pandas    ##########    ###########
    
 =>  Pandas have options for high-performance in-memory merging and joining. 

 =>  When we need to combine very large DataFrames, joins serve as a powerful way to perform these operations swiftly.
        
 =>  Joins can only be done on two DataFrames at a time, denoted as left and right tables. 

 =>  The key is the common column that the two DataFrames will be joined on. 
    
 =>  It’s a good practice to use keys which have unique values throughout the column to avoid unintended duplication of 
        row values. 
    
 =>  Pandas provide a single function, merge(), as the entry point for all standard database join operations between
        DataFrame objects.

 =>  There are four basic ways to handle the join (inner, left, right, and outer), depending on which rows must retain 
        their data.
    
 =>   pd.merge(left, right, how(str) = 'inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False,
            
           sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validator=None)

In [ ]:
                                  Parameters  for pd.merge()
                                -------------------------------
* left : DataFrame

* right : DataFrame or named Series Object to merge with.

* how : {'left', 'right', 'outer', 'inner'}, default 'inner'
    
       => Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
    
    * right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
   
    * outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
    
    * inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

* on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.

* left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.

* right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.

* left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.

* right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.

* sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).

* suffixes : tuple of (str, str), default ('_x', '_y')
    Suffix to apply to overlapping column names in the left and right
    side, respectively. To raise an exception on overlapping columns use
    (False, False).

* copy : bool, default True
    If False, avoid copy if possible.

* indicator : bool or str, default False
    If True, adds a column to output DataFrame called "_merge" with
    information on the source of each row.
    If string, column with information on source of each row will be added to
    output DataFrame, and column will be named value of string.
    Information column is Categorical-type and takes on a value of "left_only"
    for observations whose merge key only appears in 'left' DataFrame,
    "right_only" for observations whose merge key only appears in 'right'
    DataFrame, and "both" if the observation's merge key is found in both.

* validate :( str, optional) ->  If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

In [ ]:
#   Code #1 : Merging a dataframe with one unique key combination

# importing pandas module
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
  
# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1)

# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2) 
 

print(df, "\n\n", df1)

In [ ]:
# Now we are using .merge() with one unique key combination

# using .merge() function
result = pd.merge(df, df1, on='key')

result

In [ ]:
#  Code #2: Merging dataframe using multiple join keys.

# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
  
# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1)

# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2) 
 

print(df, "\n\n", df1)

In [ ]:
# Now we merge dataframe using multiple keys

# merging dataframe using multiple keys
res1 = pd.merge(df, df1, on=['key', 'key1'])

res1

In [ ]:
   #########    #########   Merging dataframe using how in an argument    ###########   ############
 
 =>  We use how argument to merge specifies how to determine which keys are to be included in the resulting table. 
    
 =>  If a key combination does not appear in either the left or right tables, the values in the joined table  
       will be NA. 
      Here is a summary of the how options and their equivalent names:

In [ ]:
# importing pandas module
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
  
# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1)

# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2) 
 

print(df, "\n\n", df1) 

#  Now we set how = 'left' in order to use keys from left frame only.



# using keys from left frame
res = pd.merge(df, df1, how='left', on=['key', 'key1'])

res

In [ ]:
#  Now we set how = 'right' in order to use keys from right frame only.

# using keys from right frame
res1 = pd.merge(df, df1, how='right', on=['key', 'key1'])

res1

In [ ]:
#  Now we set how = 'outer' in order to get union of keys from dataframes.

# getting union  of keys
res2 = pd.merge(df, df1, how='outer', on=['key', 'key1'])

res2

In [ ]:
# Now we set how = 'inner' in order to get intersection of keys from dataframes.

# getting intersection of keys
res3 = pd.merge(df, df1, how='inner', on=['key', 'key1'])

res3

In [ ]:
              ##########    ##########   Joining DataFrame     ##########    #############     

 =>  In order to join dataframe, we use .join() function this function is used for combining the columns of two
         potentially differently-indexed DataFrames into a single result DataFrame.
    
 =>  df.join(df1, on=None, how='left', lsuffix='', rsuffix='', sort=false)

   * how ('left', 'right', 'inner', 'outer')  ->  this says how to handle the joining operation of dataframes.
   
     => how='left'  ->  This will take all common rows and all individual rows of left (say=df) with NA values
                             and join with df1.
    
     => how='right' ->  This will take all common rows and all individual rows of right (say=df1) with NA values and 
                             join with df.
    
     => how='outer' ->  This will take union of rows and joins all rows of both df and df1 and join them. 
    
     => how='inner' ->  This will take an intersection of rows and joins only the common ones.


 =>  Dataframe 'df' with index as ('key'=['k0', 'k1', 'k2', 'k3']) and a second dataframe 'df1' contains 'key' as its column,
        then we uses 'on' parameter to join both dataframes.
    
 =>  Joining with on='key', rows of both datframes are joined with their corresponding key value.
    
    >>> df.join(df1, on='Key', how='')

In [ ]:
     ############  ############    Joining singly-indexed DataFrame with multi-indexed DataFrame  #############  ############
    
 =>  In order to join singly indexed dataframe with multi-indexed dataframe, the level will match on the name
         of the index of the singly-indexed frame against a level name of the multi-indexed frame.

In [ ]:
# importing pandas module
import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav'], 
        'Age':[27, 24, 22]} 
   
# Define a dictionary containing employee data 
data2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kanpur'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1, index=pd.Index(['K0', 'K1', 'K2'], name='key'))

index = pd.MultiIndex.from_tuples([('K0', 'Y0'), ('K1', 'Y1'),
                                   ('K2', 'Y2'), ('K2', 'Y3')],
                                   names=['key', 'Y'])
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index= index)


print(df, "\n\n", df1)

# Now we join singly indexed dataframe with multi-indexed dataframe

# joining singly indexed with
# multi indexed
result = df.join(df1, how='inner')

result

In [ ]:
      #########    #########   Pandas Series.str.cat() to concatenate string        ##########    ###########
    
 =>  Pandas str.cat() is used to concatenate strings to the passed caller series of string. 
 
 =>  Distinct values from a different series can be passed but the length of both the series has to be same. 

 =>  .str has to be prefixed to differentiate it from the Python’s default method.

In [ ]:
# importing pandas module 
import pandas as pd 

# importing csv from link 
data = pd.read_csv("file.csv") 

# making copy of team column 
new = data["Team"].copy() 

# concatenating team with name column 
# overwriting name column 
data["Name"]= data["Name"].str.cat(new, sep =", ") 

# display 
data

In [ ]:
Example #2: Handling Null values

 =>  The most important part in analyzing data is handling null values. 

 =>  str.cat() provides a way to handle null values through na_rep parameter. 
    
 =>  Whatever is passed to this parameter will be replaced at every occurrence of null value.
        to replace null with this string.
    
 =>  Output: As it can be seen in the data frame, at index position 4 and 5, there was NULL value which has been 
               replaced with “No College” and the string from Team column have been concatenated successfully.

In [ ]:
# importing pandas module 
import pandas as pd 

# importing csv from link 
data = pd.read_csv("file.csv") 

# making copy of team column 
new = data["Team"].copy() 

# string to replace null values with 
na_string ="No College"

# concatenating team with name column 
# overwriting name column 
data["College"]= data["College"].str.cat(new, sep =", ", na_rep = na_string) 

# display 
data

In [ ]:
         ##########    #########  Pandas Index.append()    ##########    ############

 =>  Pandas Index.append() function is used to append a single or a collection of indices together.
        
 =>  In case of collection of indices, all of them gets appended to the original index in the same order as they
        are passed to the Index.append() function. The function returns an appended index.

     >>>   Syntax: Index.append(other)
            

  =>       Parameters :

               * other : Index or list/tuple of indices

               * Returns : appended : bool or array_like (if axis is specified)  A single element array_like may be
                                            converted to bool.
                        
 => As we can see in the output, the second index i.e. df2 has been appended at the end of df1.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Creating the first Index 
df1 = pd.Index([17, 69, 33, 5, 0, 74, 0]) 

# Creating the second Index 
df2 = pd.Index([11, 16, 54, 58]) 

# Print the first and second Index 
print(df1, "\n", df2) 

# append df2 at the end of df1 
df1.append(df2)

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Creating the first Index 
df1 = pd.Index(['Jan', 'Feb', 'Mar', 'Apr']) 

# Creating the second Index 
df2 = pd.Index(['May', 'Jun', 'Jul', 'Aug']) 

# Creating the third Index 
df3 = pd.Index(['Sep', 'Oct', 'Nov', 'Dec']) 

# Print the first, second and third Index 
print(df1, "\n", df2, "\n", df3) 

# We pass df2 and df3 as a list of 
# indexes to the append function 
df1.append([df2, df3])

In [ ]:
      ############     ###########    pandas Series.combine() method    ##########    #############
    
 =>  Pandas Series.combine() is a series mathematical operation method. 

 =>  This is used to combine two series into one. 
    
 =>  The shape of output series is same as the caller series. 

 =>  The elements are decided by a function passed as parameter to combine() method. 
    
 =>  The shape of both series has to be same otherwise it will throw an error.

    =>   Syntax: Series.combine(other, func, fill_value=nan)
        
 =>  Parameters:

        * other: other series or list type to be combined with caller series

        * func: Function passed as parameter which will decide from which series the element should be put  
                  at that index

        * fill_value: integer value of level in case of multi index

        * Return: Combined series with same shape as caller series

In [ ]:
    *   Example #1:

 =>  In this example, two lists are made and converted into pandas series using .Series() method.
      A function is made using lambda which checks which values is smaller in both series and returns whichever 
         is the smaller.

In [ ]:
# importing pandas module 
import pandas as pd 

# creating first series 
first =[1, 2, 5, 6, 3, 7, 11, 0, 4] 

# creating second series 
second =[5, 3, 2, 1, 3, 9, 21, 3, 1] 

# making series 
first = pd.Series(first) 

# making seriesa 
second = pd.Series(second) 

# calling .combine() method 
result = first.combine(second, (lambda x1, x2: x1 if x1 < x2 else x2)) 

# display 
result

In [ ]:
    *   Example #2:

 =>  In this example, Null values are passed too using Numpy.nan method. Since series contains null values,
         5 is passed to fill_value parameter to replace null values by 5. 
      
    A lambda function is passed which will compare values in both series and will return the greater one.

 =>  Output: As shown in the output, the NaN values in the series were replaced by 5 before combining the series.

In [ ]:
# importing pandas module 
import pandas as pd 

# importing numpy module 
import numpy as np 

# creating first series 
first =[1, 2, np.nan, 5, 6, 3, np.nan, 7, 11, 0, 4, 8] 

# creating second series 
second =[5, 3, 2, np.nan, 1, 3, 9, 21, 3, np.nan, 1, np.nan] 

# making series 
first = pd.Series(first) 

# making seriesa 
second = pd.Series(second) 

# calling .combine() method 
result = first.combine(second, func =(lambda x1, x2: x1 if x1 > x2 else x2), fill_value = 5) 

# display 
result

In [ ]:
       ############    ##########   Adding a row at top of a Dataframe   ##########    #############
# importing pandas module 
import pandas as pd 
	
# making data frame 
df = pd.read_csv("file.csv") 

df.head(10)

In [ ]:
new_row = pd.DataFrame({'Name':'Geeks', 'Team':'Boston', 'Number':3, 
						'Position':'PG', 'Age':33, 'Height':'6-2', 
						'Weight':189, 'College':'MIT', 'Salary':99999}, 
															index =[0]) 

df = pd.concat([new_row, df]).reset_index(drop = True) 
df.head(5)

In [ ]:
   ##########   ######   Pandas str.join() to join string/list elements with passed delimiter   ########    ########
    
 =>  Pandas str.join() method is used to join all elements in list present in a series with passed delimiter.  
       Since strings are also array of character (or List of characters), hence when this method is applied 
         on a series of strings, the string is joined at every character with the passed delimiter.

 =>  .str has to be prefixed every time before calling this method to differentiate it from the 
            Python’s default string method.

In [ ]:
  *  Example #1: Joining string elements

 =>  In this example, the str.join() method is used on Name column (Series of String). 

 =>   As discussed earlier, a string is also an array of character and hence every character of string will be 
         joined with the passed separator using str.join() method.
        
 =>  output:  As shown in the output image, the string in name column have been joined character wise with the 
                 passed separator.

In [ ]:
# importing pandas module 
import pandas as pd 
	
# reading csv file from url 
data = pd.read_csv("file.csv") 

# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
	
# joining string and overwriting 
data["Name"]= data["Name"].str.join("-") 

# display 
data

In [ ]:
   *  Example #2: Joining elements of a list

 =>  In this example, the str.join() method is applied to a series of list. 

 =>  The Data in team column is separated into list using str.split() method.
    

 =>  output : As shown in the output images, the data was splitted into list using str.split() and then
                
                 the list was joined using str.join() with separator “_”.

In [ ]:
# importing pandas module 
import pandas as pd 
	
# reading csv file from url 
data = pd.read_csv("file.csv") 

# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
	
# splitting string and overwriting 
data["Team"]= data["Team"].str.split("t") 

# joining with "_" 
data["Team"]= data["Team"].str.join("_") 

# display 
data

In [ ]:
    ###########    ############  Join two text columns into a single column in Pandas   ############   ##########
    
 *  Method #1: Using cat() function

 =>  We can also use different separators during join. e.g. -, _, ” ” etc.

[Join two text columns into a single column in Pandas](https://www.geeksforgeeks.org/join-two-text-columns-into-a-single-column-in-pandas/)

In [ ]:
# importing pandas 
import pandas as pd 

df = pd.DataFrame({'Last': ['Gaitonde', 'Singh', 'Mathur'], 
				'First': ['Ganesh', 'Sartaj', 'Anjali']}) 

print('Before Join') 
print(df, '\n') 

print('After join') 
df['Name'] = df['First'].str.cat(df['Last'], sep =" ") 
print(df)

In [ ]:
  *  Method #2: Using lambda function

 =>  This method generalizes to an arbitrary number of string columns by replacing df[[‘First’, ‘Last’]] 

         with any column slice of your dataframe, e.g. df.iloc[:, 0:2].apply(lambda x: ‘ ‘.join(x), axis=1).

In [ ]:
# importing pandas 
import pandas as pd 

df = pd.DataFrame({'Last': ['Gaitonde', 'Singh', 'Mathur'], 
				'First': ['Ganesh', 'Sartaj', 'Anjali']}) 

print('Before Join') 
print(df, '\n') 

print('After join') 
df['Name'] = df[['First', 'Last']].apply(lambda x: ' '.join(x), axis = 1) 
print(df)

In [ ]:
  *  Method #3: Using + operator

 =>  We need to convert data frame elements into string before join. We can also use different separators during
        join, e.g. -, _, ‘ ‘ etc.

In [ ]:
# importing pandas 
import pandas as pd 

df = pd.DataFrame({'Last': ['Gaitonde', 'Singh', 'Mathur'], 
				'First': ['Ganesh', 'Sartaj', 'Anjali']}) 

print('Before Join') 
print(df, '\n') 

print('After join') 
df['Name']= df["First"].astype(str) +" "+ df["Last"] 
print(df)

In [ ]:
          ##############   ##########   Working with Date and Time in Pandas    #############    ###############

In [ ]:
 =>  While working with data, encountering time series data is very usual. Pandas is a very useful tool while 
         working with time series data.

 =>  Pandas provide a different set of tools using which we can perform all the necessary tasks on date-time data.

In [ ]:
# Code #1: Create a dates dataframe
import pandas as pd 

# Create dates dataframe with frequency 
data = pd.date_range('1/1/2011', periods = 10, freq ='H') 

data

In [ ]:
Code #2: Create range of dates and show basic features

In [ ]:
# Create date and time with dataframe 
data = pd.date_range('1/1/2011', periods = 10, freq ='H') 

x = datetime.now() 
x.month, x.year

In [ ]:
 =>  Datetime features can be divided into two categories.The first one time moments in a period 
       and second the time passed since a particular period. 
        
 => These features can be very useful to understand the patterns in the data.

 => Divide a given date into features –

        * pandas.Series.dt.year returns the year of the date time.

        * pandas.Series.dt.month returns the month of the date time.

        * pandas.Series.dt.day returns the day of the date time.

        * pandas.Series.dt.hour returns the hour of the date time.

        * pandas.Series.dt.minute returns the minute of the date time

[All Datetime properties and features](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)

In [ ]:
Code #3: Break data and time into separate features

# Create date and time with dataframe 
rng = pd.DataFrame() 
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H') 

# Print the dates in dd-mm-yy format 
rng[:5] 

# Create features for year, month, day, hour, and minute 
rng['year'] = rng['date'].dt.year 
rng['month'] = rng['date'].dt.month 
rng['day'] = rng['date'].dt.day 
rng['hour'] = rng['date'].dt.hour 
rng['minute'] = rng['date'].dt.minute 

# Print the dates divided into features 
rng.head(3)

In [ ]:
# Create date and time with dataframe 
rng = pd.DataFrame() 
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H') 

# Print the dates in dd-mm-yy format 
rng[:5] 

# Create features for year, month, day, hour, and minute 
rng['year'] = rng['date'].dt.year 
rng['month'] = rng['date'].dt.month 
rng['day'] = rng['date'].dt.day 
rng['hour'] = rng['date'].dt.hour 
rng['minute'] = rng['date'].dt.minute 

# Print the dates divided into features 
rng.head(3)

In [ ]:
  * Code 4: To get the present time, use Timestamp.now() and then convert timestamp to datetime and 
                directly access year, month or day.

In [ ]:
          ################    ##############   Pandas Timestamp.timestamp   ##############    #################

[Link](https://www.geeksforgeeks.org/python-pandas-timestamp-timestamp/)

In [ ]:
 => Pandas Timestamp.timestamp() function return the time expressed as the number of seconds that have passed 
         since January 1, 1970. That zero moment is known as the epoch.

  => Syntax :Timestamp.timestamp()
    
      * Parameters : None

      * Return : number of seconds since zero moment

In [ ]:
    * Example #1

 => Use Timestamp.timestamp() function to return the number of seconds that has passed since the zero moment
       for the given Timestamp object.
    
 =>  As we can see in the output, the Timestamp.timestamp() function has returned a float value indicating 
          this many seconds has passed since the epoch for the given Timestamp object.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2011, month = 11, day = 21, 
				hour = 10, second = 49, tz = 'US/Central') 

# Print the Timestamp object 
print(ts) 


# Now we will use the Timestamp.timestamp() function to find the number of seconds that has passed.
# return the number of seconds 
ts.timestamp()

In [ ]:
   *  Example #2: 
    
  =>  Use Timestamp.timestamp() function to return the number of seconds that has passed since the zero moment 
           for the given Timestamp object.
    
  =>  As we can see in the output, the Timestamp.timestamp() function has returned a float value indicating 
          this many seconds has passed since the epoch for the given Timestamp object.

In [ ]:
   *  Example #2: 
    
  =>  Use Timestamp.timestamp() function to return the number of seconds that has passed since the zero moment 
           for the given Timestamp object.
    
  =>  As we can see in the output, the Timestamp.timestamp() function has returned a float value indicating 
          this many seconds has passed since the epoch for the given Timestamp object.

In [ ]:
   *  Example #2: 
    
  =>  Use Timestamp.timestamp() function to return the number of seconds that has passed since the zero moment 
           for the given Timestamp object.
    
  =>  As we can see in the output, the Timestamp.timestamp() function has returned a float value indicating 
          this many seconds has passed since the epoch for the given Timestamp object.

In [ ]:
      ##########    ##########   Pandas Timestamp.now   ###########    ###########
    
 =>  Pandas Timestamp.now() function return the current time in the local timezone. 

 =>  It is Equivalent to datetime.now([tz]).

   =>   Syntax :Timestamp.now()
    
       *  Parameters : None

       *  Return : Timestamp

In [ ]:
  *  Example #1: 
    
 =>  Use Timestamp.now() function to return the current time in the local timezone.

 =>  As we can see in the output, the Timestamp.now() function has returned 
          the current time in the local timezone. It auto detects the local timezone.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2011, month = 11, day = 21, 
		hour = 10, second = 49, tz = 'US/Central') 

# Print the Timestamp object 
print(ts) 

#  Now we will use the Timestamp.now() function to find the current time in the local timezone.

# return the current time 
ts.now()

In [ ]:
  * Example #2: 
    
 =>  Use Timestamp.now() function to return the current time in the local timezone.

 =>  As we can see in the output, the Timestamp.now() function has returned the 
            current time in the local timezone. 
        
 =>  It auto detects the local timezone.

[Link](https://www.geeksforgeeks.org/python-pandas-timestamp-now/)

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2009, month = 5, day = 31, 
	hour = 4, second = 49, tz = 'Europe/Berlin') 

# Print the Timestamp object 
print(ts) 

# Now we will use the Timestamp.now() function to find the current time in the local timezone.
# return the current time 
ts.now()

In [ ]:
     ##########    ###########   Pandas Timestamp.isoformat     ##########    ############
    
 =>  Pandas Timestamp.isoformat() function is used to convert the given Timestamp object into the ISO format.

 =>  Syntax :Timestamp.isoformat()
        
        *  Parameters : None

        *  Return : date time as a string

[Link](https://www.geeksforgeeks.org/python-pandas-timestamp-isoformat/)

In [ ]:
  *  Example #1: 
    
 =>  Use Timestamp.isoformat() function to convert the date in the given Timestamp object to ISO format.

 =>  As we can see in the output, the Timestamp.isoformat() function has returned the date in the ISO format.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2011, month = 11, day = 21, 
				hour = 10, second = 49, tz = 'US/Central') 

# Print the Timestamp object 
print(ts) 

# Now we will use the Timestamp.isoformat() function to convert the date in the given Timestamp object to ISO format.

# convert to ISO format 
ts.isoformat()

In [ ]:
           ##########    ###########   Pandas Timestamp.date   ##########    ############

In [ ]:
[Pandas Timestamp.date](https://www.geeksforgeeks.org/python-pandas-timestamp-date/)

In [ ]:
 =>  Pandas Timestamp.date() function return a datetime object with same year, month and day as that of
         the given Timestamp object.
    
 =>  Syntax : Timestamp.date()

        * Parameters : None

        * Return : date

In [ ]:
  * Example #1:

 =>  Use Timestamp.date() function to return the date of the given Timestamp object as a datetime object.

 =>  As we can see in the output, the Timestamp.date() function has returned a datetime object 
         containing the same year, month and day as that of the given Timestamp object.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2011, month = 11, day = 21, 
		hour = 10, second = 49, tz = 'US/Central') 

# Print the Timestamp object 
print(ts) 

# Now we will use the Timestamp.date() function to return the date as a datetime object.

# return as a datetime object 
ts.date()

In [ ]:
    ##########    ###########   Pandas Timestamp.replace  ##########    ############
    
 =>  Pandas Timestamp.replace() function is used to replace the member values of the given Timestamp. 

 =>  The function implements datetime.replace, and it also handles nanoseconds.
    
 =>  Syntax :Timestamp.replace()

      =>   Parameters :-

              * year : int
             
              * month : int

              * day : int

              * hour : int

              * minute : int

              * second : int

              * microsecond : int
    
              * nanosecond : int

              *  tzinfo : int

              * fold : int

         *  Return : Timestamp with fields replaced

In [ ]:
[Pandas Timestamp.replace](https://www.geeksforgeeks.org/python-pandas-timestamp-replace/)

In [ ]:
 * Example #1:
    
 => Use Timestamp.replace() function to replace the year value in the given Timestamp.

 =>  As we can see in the output, the Timestamp.replace() function has returned a Timestamp object 
         with year value equal to 2019.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2011, month = 11, day = 21, 
				hour = 10, second = 49, tz = 'US/Central') 

# Print the Timestamp object 
print(ts) 

# Now we will use the Timestamp.replace() function to replace the current year in the object with 2019.

# replace year 
ts.replace(year = 2019)

In [ ]:
  * Example #2: 
    
 => Use Timestamp.replace() function to replace the year, month and hour value in the given Timestamp.

 =>  output : As we can see in the output, the Timestamp.replace() function has returned a Timestamp object with year 
                 value equal to 2019, month value equal to 12 and hour value equal to 1.

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Create the Timestamp object 
ts = pd.Timestamp(year = 2009, month = 5, day = 31, 
				hour = 4, second = 49, tz = 'Europe/Berlin') 

# Print the Timestamp object 
print(ts) 

#  Now we will use the Timestamp.replace() function to replace the current year, month and hour value in the object.

# replace year, month and hour value 
ts.replace(year = 2019, month = 12, hour = 1)

In [ ]:
       ############    ##########    Pandas.to_datetime()   ############   ###########

In [ ]:
 =>  When a csv file is imported and a Data Frame is made, the Date time objects in the file are read as
        a string object rather a Date Time object and Hence it’s very tough to perform operations like 
        Time difference on a string rather a Date Time object.
        
 =>  Pandas to_datetime() method helps to convert string Date time into Python Date time object.

 =>  Return type: Date time object series.

In [ ]:
  *  Example #1: String to Date

 =>  In the following example, a csv file is read and the date column of Data frame is converted into Date Time 
        object from a string object.
    
 =>  Output: As shown in the image, the Data Type of Date column was object but after using to_datetime(), 
               it got converted into a date time object.

In [ ]:
# importing pandas package 
import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("todatetime.csv") 

# overwriting data after changing format 
data["Date"]= pd.to_datetime(data["Date"]) 

# info of data 
data.info() 

# display 
data

In [ ]:
[pandas.to_datetime() link](https://www.geeksforgeeks.org/python-pandas-to_datetime/)

In [ ]:
  *  Example #2: Exception while converting Time

 =>  Time object can also be converted with this method. But since in the Time column, a date isn’t specified
       and hence Pandas will put Today’s date automatically in that case.
    
 => Output: As shown in the output, a date (2018-07-07) that is Today’s date is already added with the Date time 
             object.

In [ ]:
# import pandas as pd 

# making data frame from csv file 
data = pd.read_csv("todatetime.csv") 

# overwriting data after changing format 
data["Time"]= pd.to_datetime(data["Time"]) 

# info of data 
data.info() 

# display 
data

In [ ]:
###########   ############   pandas.date_range() method   ############    #############

In [ ]:
 =>  pandas.date_range() is one of the general functions in Pandas which is used to return a fixed frequency 
           DatetimeIndex.
    
 =>  Syntax: pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, 
                closed=None, **kwargs)


    =>   Parameters :-

          * start : Left bound for generating dates.

          * end : Right bound for generating dates.

          * periods : Number of periods to generate.

          * freq : Frequency strings can have multiples, e.g. ‘5H’. See here for a list of frequency aliases.

          *  tz : Time zone name for returning localized DatetimeIndex. 
                     By default, the resulting DatetimeIndex is timezone-naive.

          * normalize : Normalize start/end dates to midnight before generating date range.

          * name : Name of the resulting DatetimeIndex.

          * closed : Make the interval closed with respect to the given frequency to the ‘left’, ‘right’, or both sides (None, the default).

          * Returns: DatetimeIndex

In [ ]:
[ pandas.date_range() method ](https://www.geeksforgeeks.org/python-pandas-date_range-method/)

In [ ]:
# importing pandas as pd 
import pandas as pd 

per1 = pd.date_range(start ='1-1-2018', 
		end ='1-05-2018', freq ='5H') 

for val in per1: 
	print(val)

In [ ]:
# importing pandas as pd 
import pandas as pd 

dRan1 = pd.date_range(start ='1-1-2018', 
		end ='8-01-2018', freq ='M') 

dRan2 = pd.date_range(start ='1-1-2018', 
		end ='11-01-2018', freq ='3M') 

print(dRan1, '\n\n', dRan2)

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Specify start and periods, the number of periods (days). 
dRan1 = pd.date_range(start ='1-1-2018', periods = 13) 

# Specify end and periods, the number of periods (days). 
dRan2 = pd.date_range(end ='1-1-2018', periods = 13) 

# Specify start, end, and periods; the frequency 
# is generated automatically (linearly spaced). 
dRan3 = pd.date_range(start ='01-03-2017', 
			end ='1-1-2018', periods = 13) 

print(dRan1, "\n\n", dRan2, '\n\n', dRan3)

In [ ]:
# importing pandas as pd 
import pandas as pd 

# Specify start and periods, the number of periods (days). 
dRan1 = pd.date_range(start ='1-1-2018', 
	periods = 13, tz ='Asia/Tokyo') 

dRan1

In [ ]:
          ################    ##########    Plotting Graphs using pandas    ############    #################

In [ ]:
      ##############    ############   Some more topics of Pandas    #############    ##############

[Pandas.apply()](https://www.geeksforgeeks.org/python-pandas-apply/)


[Apply function to every row in a Pandas DataFrame](https://www.geeksforgeeks.org/apply-function-to-every-row-in-a-pandas-dataframe/)

[Pandas Series.apply()](https://www.geeksforgeeks.org/python-pandas-series-apply/)

[Pandas dataframe.aggregate()](https://www.geeksforgeeks.org/python-pandas-dataframe-aggregate/)

[Pandas dataframe.mean()](https://www.geeksforgeeks.org/python-pandas-dataframe-mean/)

[Pandas Series.mean()](https://www.geeksforgeeks.org/python-pandas-series-mean/)

[Pandas dataframe.mad()](https://www.geeksforgeeks.org/python-pandas-dataframe-mad/)


[Pandas Series.mad() to calculate Mean Absolute Deviation of a Series](https://www.geeksforgeeks.org/python-pandas-series-mad-to-calculate-mean-absolute-deviation-of-a-series/)

[Pandas dataframe.sem()](https://www.geeksforgeeks.org/python-pandas-dataframe-sem/)



[Pandas Series.value_counts()](https://www.geeksforgeeks.org/python-pandas-series-value_counts/)


[Pandas Index.value_counts()](https://www.geeksforgeeks.org/python-pandas-index-value_counts/)


[For tutorial, click here](https://www.geeksforgeeks.org/pandas-tutorial/)